@import "../../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../../node_modules/@fortawesome/fontawesome-free/css/all.min.css";

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
    border: 0;
}

a {
    text-decoration: none;
    color: black;
}

input {
    outline: none;

}

.myBtn {
    border: none;
    outline: none;
    padding: .6rem 1rem;
}

.card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    max-width: 36rem;
    min-width: 10rem;
    cursor: pointer;
}

.card-image {
    height: 100%;
    width: 30rem;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: .4rem;

}

.card-content__category {
    text-transform: uppercase;
    font-weight: 600;
    color: rgb(130, 130, 130);
    font-size: .8rem;
}

.card-content__title {
    word-wrap: break-word;
    font-weight: bold;
}

.card-content__preview {
    font-size: .8rem;
    font-weight: lighter;
}

.card-content__author {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .4rem;
}

.card-content__author .author-avatar {
    border-radius: 100%;
    width: 2rem;
    height: 2rem;
}

.card-content__author .author-name {
    font-weight: bold;
}

.posts-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.posts-container__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    ;
}

.posts-container__item {
    max-width: 36rem;
}

body#auth {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    height: 100vh;
}

.auth-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    min-width: 500px;
}

.auth-form__logo {
    width: 4.8rem;
    height: 4rem;
}


.auth-form__input {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.auth-form__input input {
    height: 40px;
    padding: 8px 6px;
    font-size: 16px;
    width: 80%;
    border: 1px solid #e5e5e5;
    background: #fff;
    color: #666;
    transition: all linear .2s;
}

.auth-form__input input:focus {
    border-color: #99baca;
    outline: 0;
    background: #f5fbfe;
    color: #666;
}

.auth-form__submitBtn {
    background: #2fb5fa;
    border-radius: 0;
    color: #fff;
    width: 80%;
    transition: .1s linear;
}

.auth-form__submitBtn:hover {
    background: #00a9fd;
}

.auth-form__text>span>a {
    text-decoration: underline;
    color: #00a9fd;
}