@import "../../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../../node_modules/@fortawesome/fontawesome-free/css/all.min.css";

:root {
    --primary: #2fb5fa;
    --hoverPrimary: #00a9fd;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
    border: 0;
}

a {
    text-decoration: none;
    color: black;
}

input {
    outline: none;

}

.rounded-full {
    border-radius: 100% !important;
}


.cursorPointer {
    cursor: pointer;
}

.scrollY {
    overflow: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.scrollX {
    overflow: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
}

.myBtn {
    border: none;
    outline: none;
    padding: .6rem 1rem;
    background: var(--primary);
    border-radius: 0;
    color: #fff;
    transition: .1s linear;
}

.myBtn:hover {
    background-color: var(--hoverPrimary);
}

.ghostBtn {
    border: 1px solid grey;
    background-color: transparent;
    border-radius: 2.2rem;
    padding: .8rem 1.2rem;
    font-weight: 600;
    cursor: pointer;
}

.ghostBtn:hover {
    border: 1px solid rgb(194, 193, 193);
    background-color: #d2f0ff;
    transition: .2s;
}

.avatarPreview::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 100%;
    /* Overlay color with 50% opacity */
    z-index: 1;
    /* Ensures this overlay is above the image */
}

.avatarPreview-icon {
    position: absolute;
    width: 30%;
    height: 30%;
    color: #fff;
    /* Overlay color with 50% opacity */
    z-index: 1;
    /* Ensures this overlay is above the image */
    transition: .2s linear;
}

.avatarPreview:hover .avatarPreview-icon {
    width: 40%;
    height: 40%;
}

.avatar-img {
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    padding: .4rem;
}

.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    max-width: 36rem;
    min-width: 10rem;
    cursor: pointer;
}

.card-image {
    height: 10rem;
    width: 16rem;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: .4rem;

}

.card-content__category {
    text-transform: uppercase;
    font-weight: 600;
    color: rgb(130, 130, 130);
    font-size: .8rem;
}

.card-content__title {
    word-wrap: break-word;
    font-weight: bold;
}

.card-content__preview {
    font-size: .8rem;
    font-weight: lighter;
}

.card-content__author {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .4rem;
}

.card-content__author .author-avatar {
    border-radius: 100%;
    width: 2rem;
    height: 2rem;
}

.card-content__author .author-name {
    font-weight: bold;
}

.posts-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.posts-container__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    ;
}

.posts-container__item {
    max-width: 36rem;
}

main#auth {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    height: 80vh;
}

.auth-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    min-width: 500px;
}

.auth-form__logo {
    width: 4.8rem;
    height: 4rem;
}


.auth-form__input {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.myInput {
    height: 40px;
    padding: 8px 6px;
    font-size: 16px;
    width: 80%;
    border: 1px solid #e5e5e5;
    background: #fff;
    color: #666;
    transition: all linear .2s;
}

.myInput:focus {
    border-color: #99baca;
    outline: 0;
    background: #f5fbfe;
    color: #666;
}

.auth-form__submitBtn {
    width: 80%;
}

.auth-form__text>span>a {
    text-decoration: underline;
    color: #00a9fd;
}

.writePost-main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
    background: #ffffff;
}

.writePost-title {
    color: #000;
    font-weight: bold;
    font-size: 1.6rem;
}

.writePost-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
    min-width: 28rem;
}

.writePost-form input {
    width: 100%;
}


.writePost-form__category {
    border: 1px solid #99baca;
    padding: .7rem 0;
    width: 100%;
}

.writePost-form__postBody {
    width: 100%;
    height: 9rem;
    padding: .8rem 0 0 .8rem;
}

.post-main {
    display: flex;
    flex-direction: column;
    padding: 4rem 0;
    width: 50%;
}

.post-header {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    margin-bottom: 2rem;
}

.post-header__category {
    font-weight: 500;
    color: #5f5f5f;
}

.post-header__foreword {
    font-weight: 400;
    color: 5f5f5f;
    font-size: 1rem;
}

.post-header__author {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.post-header__info .post-authorName {
    font-weight: bold;
}

.post-header__info .post-UploadDay {
    font-weight: 400;
    color: 5f5f5f;
    font-size: .8rem;
}

.post-body .post-body__text {
    font-size: 1.4rem;
    text-align: justify;
}

.post-comment {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    border: 1px solid #e7f5fc;
}

.post-comment__form {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    padding: 1rem 0;
    border-bottom: 3px solid #d6d6d6;
    width: 100%;
}

.post-comment__user {
    margin: 1rem 0;
}

.user-main {
    display: flex;
    gap: 2rem;
    padding: 2rem;
    margin: 5rem auto;
    width: 1200px;
    background-color: rgba(187, 238, 255, 0.8);
    border-radius: 8px;
}

.user-sidebar {
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: var(--primary);
}

.user-sidebar__item {
    width: 100%;
    color: #fff;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    gap: .4rem;
    padding: 2rem 1rem;
}

.user-sidebar__item:hover {
    background-color: var(--hoverPrimary);
}

.user-sidebar__item p {
    margin: 0;
}

.user-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    height: 690px;


}

.user-content__body {
    width: 100%;
    height: 100%;
}

.profile-form {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 1rem;

}

.profile-form__avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 4px solid var(--hoverPrimary);
    width: 100%;
}

.profile-avatar__label {
    padding-bottom: 1rem;
}

.profile-avatar__label .avatarPreview {
    position: relative;
    cursor: pointer;
    width: 8rem;
    height: 8rem;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.profile-avatar__label #avatarPreview {
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

.profile-avatar__label #avatarPreview:hover {
    background-color: #fff;
}

.profile-avatar__label #avatarUpload {
    display: none;
}

.profile-form__info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    align-items: center;
    margin-top: 1.6rem;
    grid-row: 2/4;
}

.profile-form__info>div>label {
    font-weight: 600;
}

.profile-form__info .form-info__username,
.profile-form__info .form-info__email,
.profile-form__info .form-info__gender,
.profile-form__info .form-info__phoneNumber {
    display: flex;
    flex-direction: column;
}

.profile-form__info .form-info__gender .info-gender__radio {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.profile-form__info .form-info__changePassword {
    width: 80%;
    text-align: center;
    grid-column: 1/3;
    justify-self: center;
}

.profile-form__saveBtn {
    justify-self: end;
    align-self: end;
    grid-row: 4/5;
}

.tableManagement-table {
    width: 100%;
    position: relative;
}

.tableManagement-table th, .tableManagement-table td {
    padding: 1rem 0;
}

.tableManagement-table__thead {}

.tableManagement-table__thead tr {
    font-weight: bold;
    text-transform: capitalize;
    color: #5f5f5f;
}

.tableManagement-table__tbody {}

.table-tbody__tr {
    margin: 1rem 0;
}